.domain-container {
  padding: 5px 10px;
}
.domain-container h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.heading {
  text-align: center;
  margin: 0 auto;
}
.domains-container, .search-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: flex;
}
.search-bar {
  width: 100%;
  text-align: center;

}
